@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC");

body {
  background-color: #1b2a32;
  color: #f8fafc;
  margin: 0;
  font-family: "Noto Serif TC";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Noto Serif TC";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
